@use '../sass/mixins.scss' as *;
@use '../sass/variables' as *;
@use '../sass/colors' as *;

.about {
  @include container;
  min-height: 100dvb;
  min-height: 100vh;
  @include flex-center;
  position: relative;
  z-index: 10;
}

.content {
  margin-block: $base-margin;
  border: 2px solid $accent-color-2;
  padding: 1.5em;
  @include flex-center(column);
  gap: 1em;
  position: relative;

  h2 {
    position: absolute;
    top: 0;
    transform: translateY(-55%);
    background-color: $dark-bg-color;
    padding-inline: 0.5em;
    font-size: 1.95rem;
  }

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    p {
      max-width: 50%;
      text-align: center;
      line-height: 1.5;
    }
  }
}

.skills {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, 60px);

  img {
    width: 60px;
  }
}
