@use '../sass/mixins.scss' as *;
@use '../sass/colors' as *;

.contact {
  font-size: 16px;
  min-height: 100dvb;
  min-height: 100vh;
  @include container;
  @include flex-center;
  position: relative;
  z-index: 10;
}

.content {
  width: 60%;
  max-width: 1200px;
  border: 2px solid $accent-color-2;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;

  h2 {
    position: absolute;
    top: 0;
    transform: translateY(-55%);
    background-color: $bg-color;
    padding: 0 1em;
  }

  span {
    padding: 0.5em;
  }

  span[data-error] {
    color: red;
  }

  span[data-success] {
    color: gold;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  input {
    padding: 0.7em 0.5em;
    width: 100%;
    background-color: $accent-color;
    border: 0;
    font-size: 1rem;
    color: $bg-color;
  }

  textarea {
    padding: 0.5em;
    resize: none;
    width: 100%;
    height: 100px;
    background-color: $accent-color;
    font-size: 1rem;
  }

  button {
    align-self: flex-start;
    padding: 0.6em 2.5em;
    font-weight: 600;
    font-size: 1rem;
    background-color: $accent-color;
    color: $bg-color;
    border: 0;
    cursor: pointer;

    &:hover {
      background-color: $primary-color;
    }
  }

  a {
    margin-right: 1em;

    &:hover {
      opacity: 0.8;
    }
  }
}
