@import '../sass/typed.scss';

.hero {
  min-height: 100dvb;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 3rem;
    @include typed(
      "Hi,<[15]> I'm Krimothiazine",
      (
        type: 0.1,
      ),
      (
        caret: true,
        iterations: 1,
      )
    );
    margin-bottom: 0.3em;
  }

  h2 {
    font-size: 2rem;
    @include typed(
      "I'm a Web Developer",
      (
        type: 0.1,
      ),
      (
        caret: true,

        delay: 4.8,
      )
    );
  }
}
