@use '../sass/mixins.scss' as *;

.projects {
  min-height: 100dvb;
  min-height: 100vh;
  @include container;
  padding-top: 3em;
  position: relative;
  z-index: 10;

  h2 {
    font-size: 1.95rem;
    margin-block: 1em;
  }
}

.projectsList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2em;
}

@media (max-width: 960px) {
  .projects {
    @include container(1.5em);
  }

  .projectsList {
    justify-items: center;
  }
}
