@use '../sass/mixins.scss' as *;

.projects {
  min-height: 100dvb;
  min-height: 100vh;
  @include container;
  padding-top: 3em;

  h2 {
    margin-block: 1em;
  }
}

.projectsList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}
