@use '../sass/colors' as *;

$padding-inline: 0.5em;

.card {
  width: 100%;
  max-width: 800px;
  border: 2px solid $accent-color-2;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  padding: 0.6em;

  img {
    width: 100%;
    height: 50%;
  }

  h3 {
    font-size: 1.5rem;
    padding-inline: $padding-inline;
  }

  p {
    margin-top: 0.5em;
    margin-bottom: auto;
    padding-inline: $padding-inline;
    line-height: 1.5;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  padding-inline: $padding-inline;

  div {
    color: $accent-color-2;
    background-color: $primary-color;
  }
}

.links {
  align-self: flex-end;

  a {
    margin-left: 1em;
    color: $accent-color-2;
  }
}

@media (max-width: 320px) {
  .card {
    width: 95%;
  }
}
